wp-config.php
.idea
.github
.github/*
.htaccess*
wp-config*
wp-content/uploads
wp-content/uploads-backup
wp-content/cache
wp-content/cache/*
wp-content/advanced-cache.php
wp-content/autoptimize_404_handler.php
wp-content/mu-plugins
wp-content/wp-cache-config.php
wp-content/cache-live
wp-content/wp-rocket-config/
wp-content/nitropack
wp-content/themes/sage/dist/scripts/*
wp-content/themes/sage/yarn.lock
*.log
*.sql
*.sqlite
*.zip
*.tar
*.gz
*.tar.gz
*.bak
*-bak
.coingecko-*
*.DS_Store